SENTRY_URL_PREFIX=https://sentry-1-dev.cielo24.com
SECRET_KEY=something_here

SENTRY_GOOGLE_CLIENT_ID=If you want to enable Google OAuth2
SENTRY_GOOGLE_CLIENT_SECRET=Enter the relevant values here

SENTRY_ADMIN_USERNAME=admin
SENTRY_ADMIN_PASSWORD=adminpass

SENTRY_INITIAL_TEAM=DevTeam